.v-application {
    .v-toolbar.v-app-bar {
        flex: 0 1 auto;
    }
    .v-main {
        &__wrap {
            .container {
                margin-top: 20px;
            }
            .v-btn.complementary{
                @include complementary-button;
            }
        }
        .table-item-management-mixin {
            tr.disabled {
                background-color: $disabled-row;
                &:hover {
                    background-color: $disabled-row-hover;
                }
            }
            .search-input {
                max-width: 350px;
            }
        }
    }
    .v-card__title {
        word-break: break-word;
    }
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
}